<h1>show results here</h1>

<ul>
    <% results.forEach(result =>{ %>
        <%const array = result.key.split("/")%>
        <%const id = array[array.length -1]%>
        <li>
            <!-- if doing book search, display these results
             -->
            <% if(result.cover_i){ %>
                <img src="https://covers.openlibrary.org/b/id/<%= result.cover_i %>-S.jpg" alt="<%= result.title %>">
            <%}%>
            <% if(result.title){%>
                <p><a href="/users/results/<%=id%>"><%= result.title %></a> by <%=result.author_name%>:
                    <%=result.first_publish_year%> <%=result.first_publish_date%>
                </p>
            <%}%>    
        </li>
    <% }) %>
</ul>
