
<%const array = data.key.split("/")%>
<%const id = array[array.length -1]%>
<!-- IF BOOK SEARCH -->
<div class="row justify-content-center">
    <%if(data.title){%>
        <h1><%=data.title%></h1>
    <%}%>
</div>

<div class="row justify-content-center">
    <% if(data.first_publish_date){ %>
        <h4><%= data.first_publish_date %></h4>
    <%}%>
    <%if(data.first_publish_year){%>
        <h2><%= data.first_publish_year %></h2>
    <%}%>
</div> 

<div class="row justify-content-center">
    <% if (data.covers){ %>
        <% data.covers.forEach(cover => { %>
            <a href="https://covers.openlibrary.org/b/id/<%= cover %>-L.jpg"><img src="https://covers.openlibrary.org/b/id/<%= cover %>-M.jpg" alt="<%=data.title%>" height="300px"></a>
        <% }) %>
    <%}%>
</div>

<!-- add to favorites button form -->
<div class="row justify-content-center" style="margin: 20px 0px;">
    <form action="/books/favorites" method="POST">
        <input type="hidden" value="<%=data.title%>" name="title" id="title">
        <input type="hidden" value="<%=data.author%>" name="author" id="author">
        <input type="hidden" value="https://covers.openlibrary.org/b/id/<%= data.covers[0] %>-M.jpg" name="img_url" id="img_url">
        <input type="hidden" value="<%=data.key%>" name="libraryId" id="libraryId">
    
        <button class="btn btn-primary" style="width: 200px; height: 50px;" type="submit">Add to Favorites</button>
    </form>
</div>

<!-- ADD A REVIEW -->

<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col border">
            <div class="row justify-content-center" style="margin-bottom: 10px;">
                <h3>Leave a review</h3>
            </div>

            <form action="/books/results/<%=id%>" method="POST">
                <div class="form-group">
                    <input type="hidden" name="name" id="name">

                    <label for="content">Share your thoughts</label>
                    <textarea class="form-control" type="text" name="content" id="content"></textarea>

                    <input type="hidden" name="id" value="<%=id%>">
                    
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </div>
            </form> 
        </div>
        <div class="col">
            <h3>Hear it from your fellow users!</h3>
            
            <%if (!reviews){ %>
                <p>Be the first to leave a review!</p>
            <%}%>
            
            <%if(reviews){%>
                <%reviews.forEach(review => { %>
                    <p style="border-left: 5px solid #007bff; padding-left: 10px;"><%=review.name%>:<br>
                    <%=review.content%></p>
                <a href="/books/results/<%=id%>/edit/<%=review.id%>">edit</a>
                <%})%>
            <%}%>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="column">
            
        </div>

        <div class="column">
            <% if(data.opening_sentence) {%>
                <h3>Opening sentence:</h3>
                <p>"<%=data.first_sentence.value%>"</p>
            <%}else if(data.first_sentence){%>
                <%if(typeof data.first_sentence == 'object'){%>
                    <h3>Opening sentence:</h3>
                    <p>"<%=data.first_sentence.value%>"</p>
                <%}else{%>
                <h3>Opening sentence:</h3>
                <p>"<%=data.first_sentence%>"</p>
                <%}%>
            <%}%>
        </div>
    </div>
</div>
            
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <%if(typeof data.description == 'object'){ %>
                <h3>Plot synopsis:</h3>
                <p style="border-left: 5px solid #007bff; padding-left: 10px;"><%=data.description.value%></p>
            <%}else{%>
                <h3>Plot synopsis:</h3>
                <p style="border-left: 5px solid #007bff; padding-left: 10px;"><%=data.description%></p>
            <%}%>  
        </div>

        <div class="col">
            <% if(data.subjects){ %> 
                <h3>Subjects and themes:</h3>
                <ul style="border-left: 5px solid #007bff;">
                    <% data.subjects.forEach(subject => { %>
                        <li><%=subject%></li>
                    <%})%>
                </ul>
            <%}%>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <% if(data.subject_people){%>
                <h3>Key Characters:</h3>
                
                <ul style="border-left: 5px solid #007bff;">
                    <% data.subject_people.forEach(person =>{%>
                        <li><%=person%></li>
                    <% }) %>
                </ul>
            <%}%>
        </div>        
    </div>
</div>