<h2>Welcome to your profile, <%=user.name%>! 🎉</h2>

<h3>Favorited books</h3>
<card>
    <% books.forEach(book =>{ %>
    <%const array = book.libraryId.split("/")%>
    <%const id = array[array.length -1]%>
    <div class="card justify-content-start" style="width: 18rem; display: inline-block;">
        <img src="<%=book.img_url%>" class="card-img-top" alt="<%=book.title%>">
        <div class="card-body">
            <h5 class="card-title"><%=book.title%></h5>
            <p class="card-text"></p>
            <a href="/users/results/<%=id%>" class="btn btn-primary">See details</a>
            <form action="/users/profile/<%=book.title%>/?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
<% }) %>