<h1><%=data.title%></h1>
<% if (data.covers){ %>
    <% data.covers.forEach(cover => { %>
        <a href="https://covers.openlibrary.org/b/id/<%= cover %>-L.jpg"><img src="https://covers.openlibrary.org/b/id/<%= cover %>-M.jpg" alt="<%=data.title%>"></a>
    <% }) %>
<%}%>
<br>
<!-- add to favorites button form -->
<form action="/users/profile" method="POST">
    <input type="hidden" value="<%=data.title%>" name="title" id="title">
    <input type="hidden" value="<%=data.author%>" name="author" id="author">
    <input type="hidden" value="<%=data.covers[0]%>" name="img_url" id="img_url">
    <button type="submit">Add to Favorites</button>
</form>

<h3>Leave a review</h3>
<form action="/profile" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="content">Leave your review:</label>
    <textarea name="content" id="content"></textarea>
    <button type="submit">Submit Review</button>
</form>

<% if(data.first_publish_date){ %>
    <h2>Original publication date: <%= data.first_publish_date %></h2>
<%}%>
<%if(data.first_publish_year){%>
    <h2>Original publication date: <%= data.first_publish_year %></h2>
<%}%>

<%if(typeof data.description == 'object'){ %>
<h2>Plot synopsis:</h2>
<%=data.description.value%>
<%}else{%>
    <h2>Plot synopsis:</h2>
    <%=data.description%>
<%}%>

<% if(data.opening_sentence) {%>
    <h2>Opening sentence:</h2>
    <p>"<%=data.first_sentence.value%>"</p>
<%}else if(data.first_sentence){%>
    <h2>Opening sentence:</h2>
    <p>"<%=data.first_sentence%>"</p>
    <%}%>

<% if(data.subjects){ %> 
<h2>Subjects and themes:</h2>
<ul>
    <% data.subjects.forEach(subject => { %>
        <li><%=subject%></li>
    <%})%>
</ul>
<%}%>

<% if(data.subject_people){%>
    <h2>Key Characters:</h2>
    <ul>
        <% data.subject_people.forEach(person =>{%>
            <li><%=person%></li>
       <% }) %>
    </ul>
<%}%>

<h2>Reviews:</h2>
<p><strong>Name</strong></p>
<p>review content</p>